<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Функция в разработке</title>
</head>
<body>
    <h1>Функция в разработке</h1>
    <p>Приносим извинения за доставленные неудобства. Данная функция в настоящее время находится в разработке и станет доступна в ближайшее время. Пожалуйста, следите за обновлениями!</p>
    <a href="{{ url_for('home') }}">Вернуться на главную страницу</a>
</body>
</html>
